@use "./reset";
@use "./variables" as *;
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");

body {
  background-color: $background;
  color: $text;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

h1 {
  font-weight: 500;
  font-size: 3rem;
  margin-bottom: 0.75em;
}

h2 {
  font-weight: 500;
  font-size: 2.5rem;
  margin-bottom: 0.75em;
}

p {
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 1.3em;
  margin-bottom: 1.5rem;
}

.button {
  border: none;
  outline: none;
  padding: 1.5rem;
  border-radius: 50px;
  font-weight: 400;
  font-size: 1.2rem;
  align-self: center;
  margin-top: 25px;
  cursor: pointer;
}

.container {
  width: 90%;
  margin: 0 auto;
  position: relative;
}

.nav {
  position: sticky;
  z-index: 2;
  top: 0;
  display: flex;
  align-items: center;
  font-weight: 300;
  padding: 3vh 5vw 0 5vw;
  background-color: $background;
  transition: all 300ms;
  &--sticky {
    box-shadow: 0 0 10px #000;
    padding-top: 10px;
    .nav__logo__img {
      height: 4rem;
    }
  }
  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  a {
    text-decoration: none;
    color: inherit;
    padding: 0.625rem;
  }
  a:focus-visible {
    outline: none;
    border-radius: 10px;
    box-shadow: 0 0 0 4px $accent;
  }
  &__logo {
    display: block;
    margin-right: auto;
    z-index: 2;
    &__img {
      display: block;
      height: 6rem;
      width: auto;
      transition: all 300ms;
    }
  }
  &__ul {
    display: flex;
    &__li {
      margin-right: 5rem;
    }
  }
  &__social {
    display: flex;
    align-items: center;
  }
  &__social svg path {
    fill: $text;
  }
  &__trigger {
    position: absolute;
    top: 3.75rem;
    right: 4rem;
    font-size: 1rem;
    display: none;
  }
}

.bar1,
.bar2,
.bar3 {
  width: 25px;
  height: 3px;
  margin: 5px auto;
  background-color: $text;
  transition: all 500ms;
}

.main {
  display: flex;
  align-items: center;
  margin: 2rem 0;
  img {
    width: 60%;
  }
  &__article {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  &__button {
    background-color: $accent;
    color: $text;
    &:hover,
    &:focus-visible {
      box-shadow: 0 0 0 4px $accent;
      background-color: $background;
      color: $accent;
    }
  }
}

aside {
  background-color: $accent;
}

.sub {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0;
  &__posters {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
    a {
      display: block;
      position: relative;
      overflow: hidden;
      width: calc(33% - 1rem);
      height: 36rem;
    }
    a img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: all 300ms;
    }
    a:hover img {
      transform: scale(1.02);
    }
  }
  &__button {
    background-color: $text;
    color: $accent;
    &:hover,
    &:focus-visible {
      box-shadow: 0 0 0 4px $text;
      background-color: $accent;
      color: $text;
    }
  }
}

footer {
  background-color: $footer;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1rem;
  padding: 1rem 2rem;
}

@media screen and (max-width: 1200px) {
  .nav {
    padding: 2vh 5vw 0 5vw;
    &__ul__li {
      margin-right: 2rem;
    }
  }
}

@media screen and (max-width: 880px) {
  .container {
    width: 100%;
  }
  .nav {
    flex-direction: column;
    &__wrapper {
      position: absolute;
      background-color: $background;
      width: 100%;
      flex-direction: column;
      justify-content: space-around;
      height: 90vh;
      margin-top: 10vh;
      left: -100%;
      transition: all 500ms ease-in-out;
      &--active {
        left: 0;
      }
    }
    &__ul {
      flex-direction: column;
      align-items: center;
      &__li {
        font-size: 3rem;
        margin: 0.75em 0;
      }
    }
    &__social {
      margin-bottom: 2em;
    }
    &__trigger {
      display: block;
      cursor: pointer;
      &--sticky {
        top: 2.8rem;
      }
      &--active {
        .bar1 {
          -webkit-transform: translateY(8px) rotate(45deg);
          transform: translateY(8px) rotate(45deg);
        }
        .bar2 {
          opacity: 0;
        }
        .bar3 {
          -webkit-transform: translateY(-8px) rotate(-45deg);
          transform: translateY(-8px) rotate(-45deg);
        }
      }
    }
  }
}
