@use "./reset";
@use "./variables" as *;
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");

body {
  background-color: $background;
  color: $text;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

.nav {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  width: 100%;
  font-weight: 300;
  padding: 40px 100px 0 100px;
  background-color: $background;
  transition: all 300ms;
  &--sticky {
    box-shadow: 0 0 10px #000;
    padding-top: 10px;
    .nav__logo__img {
      height: 4rem;
    }
  }
  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  a {
    text-decoration: none;
    color: inherit;
    padding: 0.625rem;
  }
  a:focus {
    outline: none;
    border-radius: 10px;
    box-shadow: 0 0 0 4px $accent;
  }
  &__logo {
    display: block;
    margin-right: auto;
    z-index: 2;
    &__img {
      display: block;
      height: 6rem;
      width: auto;
      transition: all 300ms;
    }
  }
  &__ul {
    display: flex;
    &__li {
      margin-right: 5rem;
    }
  }
  &__social {
    display: flex;
    align-items: center;
  }
  &__social svg path {
    fill: $text;
  }
  &__trigger {
    position: absolute;
    top: 3.75rem;
    right: 4rem;
    font-size: 1rem;
    display: none;
  }
}

.bar1,
.bar2,
.bar3 {
  width: 25px;
  height: 3px;
  margin: 5px auto;
  background-color: $text;
  transition: all 500ms;
}

@media screen and (max-width: 1100px) {
  .nav {
    padding: 20px 50px 0 50px;
    &__ul__li {
      margin-right: 2rem;
    }
  }
}

@media screen and (max-width: 880px) {
  .nav {
    flex-direction: column;
    &__wrapper {
      position: absolute;
      background-color: $background;
      width: 100%;
      flex-direction: column;
      justify-content: space-around;
      height: 90vh;
      margin-top: 10vh;
      left: -100%;
      transition: all 500ms ease-in-out;
      &--active {
        left: 0;
      }
    }
    &__ul {
      flex-direction: column;
      align-items: center;
      &__li {
        font-size: 3rem;
        margin: 0.75em 0;
      }
    }
    &__social {
      margin-bottom: 2em;
    }
    &__trigger {
      display: block;
      cursor: pointer;
      &--sticky {
        top: 2.8rem;
      }
      &--active {
        .bar1 {
          -webkit-transform: translateY(8px) rotate(45deg);
          transform: translateY(8px) rotate(45deg);
        }
        .bar2 {
          opacity: 0;
        }
        .bar3 {
          -webkit-transform: translateY(-8px) rotate(-45deg);
          transform: translateY(-8px) rotate(-45deg);
        }
      }
    }
  }
}
