@use "../variables" as *;

.main {
  background-color: $background;
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  margin-bottom: 2rem;
  &__image {
    margin-bottom: 1rem;
    & img {
      display: block;
      width: clamp(10rem, 100%, 40rem);
      height: auto;
      margin: 0 auto;
    }
  }
  &__text {
    max-width: 40ch;
  }
  & section {
    & p:last-of-type {
      margin-bottom: 2.5rem;
    }
    margin-bottom: 1rem;
    & .button {
      color: $text;
      background-color: $accent;
      &:hover,
      &:focus {
        background-color: $text;
        color: $background;
      }
    }
  }
}

.aside {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: $accent;
  padding: 2rem;
  .posters {
    max-width: 1400px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
    & a:focus {
      outline: 2px solid $text;
      outline-offset: 0.5rem;
    }
    &__wrapper {
      overflow: hidden;
      cursor: pointer;
      & img {
        width: 100%;
        aspect-ratio: 11/16;
        object-fit: cover;
        transition: all $transition-duration;
      }
      &:hover img {
        transform: scale(1.02);
      }
    }
  }
  & .button {
    color: $accent;
    background-color: $text;
    &:hover,
    &:focus {
      background-color: $background;
      color: $text;
    }
  }
}

@media screen and(max-width: 960px) {
  .main {
    grid-template-columns: auto;
    &__text {
      text-align: center;
    }
  }
}

@media screen and(max-width: 700px) {
  .aside {
    .posters {
      max-width: 1400px;
      margin: 0 auto;
      display: grid;
      grid-template-columns: 1fr;
      gap: 2rem;
      & a:focus {
        outline: 2px solid $text;
        outline-offset: 0.5rem;
      }
      &__wrapper {
        overflow: hidden;
        cursor: pointer;
        & img {
          width: 100%;
          aspect-ratio: 11/16;
          object-fit: cover;
          transition: all $transition-duration;
        }
        &:hover img {
          transform: scale(1.02);
        }
      }
    }
    & .button {
      color: $accent;
      background-color: $text;
      &:hover,
      &:focus {
        background-color: $background;
        color: $text;
      }
    }
  }
}
