@use "../variables" as *;

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: $footer;
  padding: 0.5rem 2rem;
  & .social {
    margin-left: 2rem;
    & a {
      margin-right: 1em;
    }
  }
}
